#news-section {
    padding-left:15%;
    padding-right:15%;
    padding-top:2%;
    background-color: #1C7ED6;
    padding-bottom:8%;

    
    .title {
        padding-top: 5%;
        padding-bottom:2%;
        font-size: 3vmin;
        color: white;
        font-weight: 700;
    }

    .news-top {
        margin-bottom:0.3%;
        .featured-container {
            .featured-news-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .news-card-image {
                    order: 1;
                }
                .news-card-contents {
                    order: 2;
                    padding: 3%;
                    .featured-title {
                        font-size:2vmin;
                        font-weight:600;
                        padding-bottom: 1%;
                    }
                    .accordion {
                        padding-top: 1%;
                        padding-bottom: 2%;
                        font-size:1.2vmin;
                        .mantine-Accordion-label {
                            font-size:1.2vmin;
                        }
                    }
                    .content {
                        font-size:1.2vmin;
                    }
                }        
            }
        }

        .carousel {
            .slide-container {
                height:100%;
                .main-news-card {
                    display: flex;
                    flex-direction: column;
                    .news-card-image {
                        order: 1;
                    }
                    .news-card-contents {
                        order: 2;        
                        .title {
                            padding-top:0;
                            padding-bottom:0;
                            font-size: 1.5vmin;
                            font-weight: 600;
                            color: rgb(45,45,45);
                        }
                        .excerpt {
                            font-size:1.2vmin;
                        }
                    }
                }
            }
        }
    }

    .line-news-container {
        flex-direction:row;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom:1%;
        .line-news-list-container {
            width:100%;
            margin-right:0.4%;
            .line-news {
                display:flex;
                flex-direction: row;
                align-items:center;
                margin-bottom:5px;
                .line-news-date {
                    min-width: 120px;
                    padding-bottom:16px;
                    padding-top:16px;
                    font-size:1.4vmin;
                }
                .line-news-content {
                    padding:6px;
                    padding-left:1%;
                    margin-left:0.4%;
                    width: 100%;
                    font-size:1.5vmin;
                }
    
            }
        }
        .line-news-button-container {
            flex-direction: column;
            display:flex;
            align-items: center;
            .line-news-button {
                height:101px;
                padding-left:0px;
                padding-right:0px;
                background-color:rgba(231, 245, 255, 1);
                color:#228be6;
            }
        }
    }

}
